{
   "org.archicontribs.form": {
      "whenEmpty": "ignore",
      "buttonHeight": 25,
      "buttonExport": "Export op Excel",
      "tabs": [
         {
            "controls": [
                {
                  "foreground": "128,128,0",
                  "excelDefault": "blank",
                  "fontName": "Arial",
                  "background": "225, 225, 225",
                  "fontBold": false,
                  "name": "",
                  "x": 10,
                  "width": 400,
                  "y": 10,
                  "excelCellType": "string",
                  "comment": "0a",
                  "fontSize": 0,
                  "fontItalic": false,
                  "text": "Voer de eigenschappen van de capability in.",
                  "alignment": "left",
                  "class": "label",
                  "height": 20
               },
               {
                  "foreground": "128,128,0",
                  "excelDefault": "blank",
                  "fontName": "Arial",
				  "background": "225, 225, 225",
                  "fontBold": false,
                  "name": "",
                  "x": 700,
                  "width": 800,
                  "y": 10,
                  "excelCellType": "string",
                  "comment": "0b",
                  "fontSize": 0,
                  "fontItalic": false,
                  "text": "Hulp bij de invoervelden beschikbaar via mouse-over",
                  "alignment": "left",
                  "class": "label",
                  "height": 20
               },                
			   {
                  "editable": false,
                  "tooltip": "Onzichtbaar veld",
                  "forceDefault": false,
                  "excelDefault": "blank",
                  "default": "Zie properties.",
                  "forceDefault": true,
                  "fontName": "Arial",
                  "foreground": "255,225,225",
                  "background": "225,225,225",
                  "fontBold": false,
                  "name": "",
                  "variable": "${documentation}",
                  "x": 1200,
                  "width": 10,
                  "y": 60,
                  "excelCellType": "string",
                  "comment": "1b",
                  "fontSize": 0,
                  "fontItalic": false,
                  "alignment": "left",
                  "class": "text",
                  "height": 25
               },
               {
                  "foreground": "128,128,0",
                  "excelDefault": "blank",
                  "fontName": "Arial",
                  "background": "225, 225, 225",
                  "fontBold": false,
                  "name": "",
                  "x": 10,
                  "width": 120,
                  "y": 60,
                  "excelCellType": "string",
                  "comment": "2a",
                  "fontSize": 0,
                  "fontItalic": false,
                  "text": "Naam",
                  "alignment": "left",
                  "class": "label",
                  "height": 20
               },
               {
                  "whenEmpty": "ignore",
                  "regexp": ".*",
                  "editable": true,
                  "tooltip": "De naam van de capability.\r\rTevens de archimatenaam.\r\rMag niet leeg worden gemaakt.",
                  "forceDefault": false,
                  "foreground": "0, 0, 0",
                  "excelDefault": "blank",
                  "default": "${name}",
                  "fontName": "Arial",
                  "background": "225, 225, 225",
                  "fontBold": false,
                  "name": "",
                  "variable": "${name}",
                  "x": 130,
                  "width": 1000,
                  "y": 60,
                  "excelCellType": "string",
                  "comment": "2b",
                  "fontSize": 0,
                  "fontItalic": false,
                  "alignment": "left",
                  "class": "text",
                  "height": 25
               },
               {
                  "tooltip": "Het volwassenheidsniveau van de capability.",
                  "foreground": "128,128,0",
                  "excelDefault": "blank",
                  "fontName": "Arial",
                  "background": "225, 225, 225",
                  "fontBold": false,
                  "name": "",
                  "x": 10,
                  "width": 120,
                  "y": 110,
                  "excelCellType": "string",
                  "comment": "3a",
                  "fontSize": 0,
                  "fontItalic": false,
                  "text": "Volwassenheid",
                  "alignment": "left",
                  "class": "label",
                  "height": 20
               },
               {
                  "whenEmpty": "ignore",
                  "editable": true,
                  "values": [
                     "01 Initial",
                     "02 Repeatable ",
                     "03 Defined",
                     "04 Managed",
                     "05 Optimized",
                  ],
                  "tooltip": "Selecteer in dropdown-box het volwassenheidsniveau van de capability.",
				  "forceDefault": false,
                  "foreground": "0, 0, 0",
                  "excelDefault": "blank",
                  "default": "01 Initial",
                  "fontName": "Arial",
                  "background": "225, 225, 225",
                  "name": "",
                  "variable": "${property:volwassenheidsniveau}",
                  "x": 130,
                  "width": 400,
                  "y": 110,
                  "excelCellType": "string",
                  "comment": "3b",
                  "class": "combo",
                  "height": 20
               },
               {
                  "tooltip": "Het volwassenheidsniveau van de capability.",
                  "foreground": "128,128,0",
                  "excelDefault": "blank",
                  "fontName": "Arial",
                  "background": "225, 225, 225",
                  "fontBold": false,
                  "name": "",
                  "x": 600,
                  "width": 120,
                  "y": 110,
                  "excelCellType": "string",
                  "comment": "3c",
                  "fontSize": 0,
                  "fontItalic": false,
                  "text": "Vastgesteld op",
                  "alignment": "left",
                  "class": "label",
                  "height": 20
               },
               {
                  "whenEmpty": "delete",
				  "regexp": "^(19|20)\d\d[- /.](0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])$",
				  "editable": true,
                  "tooltip": "Datum dat het volwassenheidsniveau is vastgesteld jjjj-mm-dd",
				  "forceDefault": false,
                  "foreground": "0, 0, 0",
                  "excelDefault": "blank",
                  "default": "2023-01-01",
                  "fontName": "Arial",
                  "background": "225, 225, 225",
                  "name": "",
                  "variable": "${property:datum_volwassenheid}",
                  "x": 800,
                  "width": 400,
                  "y": 110,
                  "excelCellType": "string",
                  "comment": "3d",
                  "class": "text",
                  "height": 20
               },
               {
                  "foreground": "128,128,0",
                  "excelDefault": "blank",
                  "fontName": "Arial",
                  "background": "225, 225, 225",
                  "fontBold": false,
                  "name": "",
                  "x": 10,
                  "width": 120,
                  "y": 160
                  "excelCellType": "string",
                  "comment": "4a",
                  "fontSize": 0,
                  "fontItalic": false,
                  "text": "Definitie",
                  "alignment": "left",
                  "class": "label",
                  "height": 20
               },
               {
                  "whenEmpty": "ignore",
                  "regexp": ".*",
                  "editable": true,
                  "tooltip": "Een formele definitie van de capability.\r\rMag niet leeg worden gemaakt. ",
                  "forceDefault": false,
                  "foreground": "0, 0, 0",
                  "excelDefault": "blank",
                  "default": "${documentation}",
                  "fontName": "Arial",
                  "background": "225, 225, 225",
                  "fontBold": false,
                  "name": "",
                  "variable": "${property:definitie}",
                  "x": 130,
                  "width": 1000,
                  "y": 160,
                  "excelCellType": "string",
                  "comment": "4b",
                  "fontSize": 0,
                  "fontItalic": false,
                  "alignment": "left",
                  "class": "text",
                  "height": 100
               },             
		       {
                  "foreground": "128,128,0",
                  "excelDefault": "blank",
                  "fontName": "Arial",
                  "background": "225, 225, 225",
                  "fontBold": false,
                  "name": "",
                  "x": 10,
                  "width": 120,
                  "y": 280
                  "excelCellType": "string",
                  "comment": "5a",
                  "fontSize": 0,
                  "fontItalic": false,
                  "text": "Omschrijving",
                  "alignment": "left",
                  "class": "label",
                  "height": 20
               },
               {
                  "whenEmpty": "delete",
                  "regexp": ".*",
                  "editable": true,
                  "tooltip": "Een nadere toelichting op de definitie van de capability.",
                  "forceDefault": false,
                  "foreground": "0, 0, 0",
                  "excelDefault": "blank",
                  "default": "",
                  "fontName": "Arial",
                  "background": "225, 225, 225",
                  "fontBold": false,
                  "name": "",
                  "variable": "${property:omschrijving}",
                  "x": 130,
                  "width": 1000,
                  "y": 280,
                  "excelCellType": "string",
                  "comment": "5b",
                  "fontSize": 0,
                  "fontItalic": false,
                  "alignment": "left",
                  "class": "text",
                  "height": 100
               },    
		       {
                  "foreground": "128,128,0",
                  "excelDefault": "blank",
                  "fontName": "Arial",
                  "background": "225, 225, 225",
                  "fontBold": false,
                  "name": "",
                  "x": 10,
                  "width": 120,
                  "y": 400
                  "excelCellType": "string",
                  "comment": "6a",
                  "fontSize": 0,
                  "fontItalic": false,
                  "text": "Kaders",
                  "alignment": "left",
                  "class": "label",
                  "height": 20
               },
               {
                  "whenEmpty": "delete",
                  "regexp": ".*",
                  "editable": true,
                  "tooltip": "Een opsomming van de principes, normen, afspraken en standaarden die de capability kaderen.\r\r Scheiding: * + enter",
                  "forceDefault": false,
                  "foreground": "0, 0, 0",
                  "excelDefault": "blank",
                  "default": "",
                  "fontName": "Arial",
                  "background": "225, 225, 225",
                  "fontBold": false,
                  "name": "",
                  "variable": "${property:kaders}",
                  "x": 130,
                  "width": 1000,
                  "y": 400,
                  "excelCellType": "string",
                  "comment": "6b",
                  "fontSize": 0,
                  "fontItalic": false,
                  "alignment": "left",
                  "class": "text",
                  "height": 100
               },
		       {
                  "foreground": "128,128,0",
                  "excelDefault": "blank",
                  "fontName": "Arial",
                  "background": "225, 225, 225",
                  "fontBold": false,
                  "name": "",
                  "x": 10,
                  "width": 120,
                  "y": 600
                  "excelCellType": "string",
                  "comment": "7a",
                  "fontSize": 0,
                  "fontItalic": false,
                  "text": "Resources",
                  "alignment": "left",
                  "class": "label",
                  "height": 20
               },
		       {
                  "foreground": "128,128,0",
                  "excelDefault": "blank",
                  "fontName": "Arial",
                  "background": "225, 225, 225",
                  "fontBold": false,
                  "name": "",
                  "x": 200,
                  "width": 100,
                  "y": 520
                  "excelCellType": "string",
                  "comment": "8a",
                  "fontSize": 0,
                  "fontItalic": false,
                  "text": "Rollen",
                  "alignment": "left",
                  "class": "label",
                  "height": 20
               },         
			   {
                  "whenEmpty": "delete",
                  "regexp": ".*",
                  "editable": true,
                  "tooltip": "Een opsomming van de verantwoordelijken voor de business capability. \r\r Scheiding: * + enter",
                  "forceDefault": false,
                  "foreground": "0, 0, 0",
                  "excelDefault": "blank",
                  "default": "",
                  "fontName": "Arial",
                  "background": "225, 225, 225",
                  "fontBold": false,
                  "name": "",
                  "variable": "${property:rollen}",
                  "x": 130,
                  "width": 180,
                  "y": 550,
                  "excelCellType": "string",
                  "comment": "8b",
                  "fontSize": 0,
                  "fontItalic": false,
                  "alignment": "left",
                  "class": "text",
                  "height": 100
               }, 				   
		       {
                  "foreground": "128,128,0",
                  "excelDefault": "blank",
                  "fontName": "Arial",
                  "background": "225, 225, 225",
                  "fontBold": false,
                  "name": "",
                  "x": 380,
                  "width": 100,
                  "y": 520
                  "excelCellType": "string",
                  "comment": "9a",
                  "fontSize": 0,
                  "fontItalic": false,
                  "text": "Processen",
                  "alignment": "left",
                  "class": "label",
                  "height": 20
               },               {
                  "whenEmpty": "delete",
                  "regexp": ".*",
                  "editable": true,
                  "tooltip": "Een opsomming van de bedrijfsprocessen die de business capability voortbrengen.\r\r Scheiding: * + enter",
                  "forceDefault": false,
                  "foreground": "0, 0, 0",
                  "excelDefault": "blank",
                  "default": "",
                  "fontName": "Arial",
                  "background": "225, 225, 225",
                  "fontBold": false,
                  "name": "",
                  "variable": "${property:bdrijfsprocessen}",
                  "x": 330,
                  "width": 180,
                  "y": 550,
                  "excelCellType": "string",
                  "comment": "9b",
                  "fontSize": 0,
                  "fontItalic": false,
                  "alignment": "left",
                  "class": "text",
                  "height": 100
               }, 				   
		       {
                  "foreground": "128,128,0",
                  "excelDefault": "blank",
                  "fontName": "Arial",
                  "background": "225, 225, 225",
                  "fontBold": false,
                  "name": "",
                  "x": 580,
                  "width": 100,
                  "y": 520
                  "excelCellType": "string",
                  "comment": "9a",
                  "fontSize": 0,
                  "fontItalic": false,
                  "text": "Regels",
                  "alignment": "left",
                  "class": "label",
                  "height": 20
               },               {
                  "whenEmpty": "delete",
                  "regexp": ".*",
                  "editable": true,
                  "tooltip": "Een opsomming van de bedrijfsregels die de business capability uitvoert.\r\r Scheiding: * + enter",
                  "forceDefault": false,
                  "foreground": "0, 0, 0",
                  "excelDefault": "blank",
                  "default": "",
                  "fontName": "Arial",
                  "background": "225, 225, 225",
                  "fontBold": false,
                  "name": "",
                  "variable": "${property:bedrijfsregels}",
                  "x": 530,
                  "width": 180,
                  "y": 550,
                  "excelCellType": "string",
                  "comment": "9b",
                  "fontSize": 0,
                  "fontItalic": false,
                  "alignment": "left",
                  "class": "text",
                  "height": 100
               },
		       {
                  "foreground": "128,128,0",
                  "excelDefault": "blank",
                  "fontName": "Arial",
                  "background": "225, 225, 225",
                  "fontBold": false,
                  "name": "",
                  "x": 760,
                  "width": 130,
                  "y": 520
                  "excelCellType": "string",
                  "comment": "9a",
                  "fontSize": 0,
                  "fontItalic": false,
                  "text": "Bedrijfsobjecten",
                  "alignment": "left",
                  "class": "label",
                  "height": 20
               },               {
                  "whenEmpty": "delete",
                  "regexp": ".*",
                  "editable": true,
                  "tooltip": "Een opsomming van de bedrijfsobjecten die de business capability nodig heeft.\r\r Scheiding: * + enter",
                  "forceDefault": false,
                  "foreground": "0, 0, 0",
                  "excelDefault": "blank",
                  "default": "",
                  "fontName": "Arial",
                  "background": "225, 225, 225",
                  "fontBold": false,
                  "name": "",
                  "variable": "${property:bedrijfsobjecten}",
                  "x": 730,
                  "width": 200,
                  "y": 550,
                  "excelCellType": "string",
                  "comment": "9b",
                  "fontSize": 0,
                  "fontItalic": false,
                  "alignment": "left",
                  "class": "text",
                  "height": 100
               },  		       {
                  "foreground": "128,128,0",
                  "excelDefault": "blank",
                  "fontName": "Arial",
                  "background": "225, 225, 225",
                  "fontBold": false,
                  "name": "",
                  "x": 980,
                  "width": 130,
                  "y": 520
                  "excelCellType": "string",
                  "comment": "9a",
                  "fontSize": 0,
                  "fontItalic": false,
                  "text": "Voorzieningen",
                  "alignment": "left",
                  "class": "label",
                  "height": 20
               },               {
                  "whenEmpty": "delete",
                  "regexp": ".*",
                  "editable": true,
                  "tooltip": "Een opsomming van de voorzieningen die de business capability  nodig heeft.\r\r Scheiding: * + enter",
                  "forceDefault": false,
                  "foreground": "0, 0, 0",
                  "excelDefault": "blank",
                  "default": "",
                  "fontName": "Arial",
                  "background": "225, 225, 225",
                  "fontBold": false,
                  "name": "",
                  "variable": "${property:voorzieningen}",
                  "x": 950,
                  "width": 180,
                  "y": 550,
                  "excelCellType": "string",
                  "comment": "9b",
                  "fontSize": 0,
                  "fontItalic": false,
                  "alignment": "left",
                  "class": "text",
                  "height": 100
               },  
 		       {
                  "foreground": "128,128,0",
                  "excelDefault": "blank",
                  "fontName": "Arial",
                  "background": "225, 225, 225",
                  "fontBold": false,
                  "name": "",
                  "x": 10,
                  "width": 120,
                  "y": 700
                  "excelCellType": "string",
                  "comment": "10a",
                  "fontSize": 0,
                  "fontItalic": false,
                  "text": "Issues",
                  "alignment": "left",
                  "class": "label",
                  "height": 20
               },
               {
                  "whenEmpty": "delete",
                  "regexp": ".*",
                  "editable": true,
                  "tooltip": "Een opsomming van de principes, normen, afspraken en standaarden die de capability kaderen.\r\r Scheiding: * + enter",
                  "forceDefault": false,
                  "foreground": "0, 0, 0",
                  "excelDefault": "blank",
                  "default": "",
                  "fontName": "Arial",
                  "background": "225, 225, 225",
                  "fontBold": false,
                  "name": "",
                  "variable": "${property:issues}",
                  "x": 130,
                  "width": 1000,
                  "y": 670,
                  "excelCellType": "string",
                  "comment": "10b",
                  "fontSize": 0,
                  "fontItalic": false,
                  "alignment": "left",
                  "class": "text",
                  "height": 100
               },


			   ],
            "background": "225, 225, 225",
            "name": "Parameters",
            "comment": "Standaard metadatakenmerken van een capability.",
            "foreground": "0,0,0"
         },
         {
             "controls": [],
             "background": "200, 200, 200",
             "name": "Second tab",
             "comment": "Future use",
             "foreground": "0,0,0"
         }
      ],
      "filter": {
         "tests": [
            {
               "attribute": "${class}",
               "operation": "iequals",
               "value": "Capability"
            }
         ],
         "genre": "AND"
      },
      "buttonCancelWidth": 90,
      "spacing": 4,
      "buttonCancel": "Cancel",
      "refers": "selected",
      "buttonOkWidth": 90,
      "background": "250, 250, 250",
      "name": "Metadata voor ${class} \"${name}\"",
      "width": 1255,
      "buttonExportWidth": 120,
      "comment": "",
      "buttonOk": "Ok",
      "variableSeparator": ":",
      "height": 900
   },
   "version": 4
}