{
   "org.archicontribs.form": {
      "whenEmpty": "ignore",
      "buttonHeight": 25,
      "buttonExport": "Export op Excel",
      "tabs": [
         {
            "controls": [
               {
                  "editable": true,
                  "tooltip": "Eigenschappen niet langer in documentatieveld.",
                  "forceDefault": false,
                  "excelDefault": "blank",
                  "default": "Zie properties",
                  "forceDefault": true,
                  "fontName": "Arial",
                  "foreground": "255,1,1",
                  "background": "225, 225, 225",
                  "fontBold": false,
                  "name": "",
                  "variable": "${documentation}",
                  "x": 10,
                  "width": 500,
                  "y": 10,
                  "excelCellType": "string",
                  "comment": "",
                  "fontSize": 0,
                  "fontItalic": false,
                  "alignment": "left",
                  "class": "text",
                  "height": 25
               },
               {
                  "tooltip": "De naam van het bedrijfsobject",
                  "foreground": "128,128,0",
                  "excelDefault": "blank",
                  "fontName": "Arial",
                  "background": "225, 225, 225",
                  "fontBold": false,
                  "name": "",
                  "x": 10,
                  "width": 120,
                  "y": 60,
                  "excelCellType": "string",
                  "comment": "",
                  "fontSize": 0,
                  "fontItalic": false,
                  "text": "Naam",
                  "alignment": "left",
                  "class": "label",
                  "height": 20
               },
               {
                  "whenEmpty": "ignore",
                  "regexp": ".*",
                  "editable": true,
                  "tooltip": "Het is een zelfstandig naamwoord (enkelvoud) eventueel aangevuld 1 adjectief.",
                  "forceDefault": false,
                  "foreground": "0, 0, 0",
                  "excelDefault": "blank",
                  "default": "${name}",
                  "fontName": "Arial",
                  "background": "225, 225, 225",
                  "fontBold": false,
                  "name": "",
                  "variable": "${name}",
                  "x": 130,
                  "width": 1000,
                  "y": 60,
                  "excelCellType": "string",
                  "comment": "",
                  "fontSize": 0,
                  "fontItalic": false,
                  "alignment": "left",
                  "class": "text",
                  "height": 25
               },
               {
                  "tooltip": "Omschrijving van het bedrijfsobject",
                  "foreground": "128,128,0",
                  "excelDefault": "blank",
                  "fontName": "Arial",
                  "background": "225, 225, 225",
                  "fontBold": false,
                  "name": "",
                  "x": 10,
                  "width": 120,
                  "y": 110,
                  "excelCellType": "string",
                  "comment": "",
                  "fontSize": 0,
                  "fontItalic": false,
                  "text": "Omschrijving",
                  "alignment": "left",
                  "class": "label",
                  "height": 20
               },
               {
                  "whenEmpty": "ignore",
                  "regexp": ".*",
                  "editable": true,
                  "tooltip": "Dit zijn een of meer volzinnen ter beschrijving en/of toelichting van het bedrijfsobject. \r\rVermelding van andere bedrijfsobjecten a.u.b. tussen [rechte haken].",
                  "forceDefault": false,
                  "foreground": "0, 0, 0",
                  "excelDefault": "blank",
                  "default": "${documentation}",
                  "fontName": "Arial",
                  "background": "225, 225, 225",
                  "fontBold": false,
                  "name": "",
                  "variable": "${property:omschrijving}",
                  "x": 130,
                  "width": 1000,
                  "y": 110,
                  "excelCellType": "string",
                  "comment": "",
                  "fontSize": 0,
                  "fontItalic": false,
                  "alignment": "left",
                  "class": "text",
                  "height": 350
               },
			   {
                  "tooltip": "Alternatieve termen voor het Bedrijfsobject",
                  "foreground": "128,128,0",
                  "excelDefault": "blank",
                  "fontName": "Arial",
                  "background": "225, 225, 225",
                  "fontBold": false,
                  "name": "",
                  "x": 10,
                  "width": 120,
                  "y": 480,
                  "excelCellType": "string",
                  "comment": "",
                  "fontSize": 0,
                  "fontItalic": false,
                  "text": "Synomiem(en)",
                  "alignment": "left",
                  "class": "label",
                  "height": 20
               },
               {
                  "whenEmpty": "delete",
                  "regexp": ".*",
                  "editable": true,
                  "tooltip": "Alternatieve termen om hetzelfde Bedrijfsobject te duiden.\r\rIndien meer dan  scheiden met komma.",
                  "forceDefault": false,
                  "foreground": "0, 0, 0",
                  "excelDefault": "blank",
                  "default": "",
                  "fontName": "Arial",
                  "background": "225, 225, 225",
                  "fontBold": false,
                  "name": "",
                  "variable": "${property:synoniem}",
                  "x": 130,
                  "width": 1000,
                  "y": 480,
                  "excelCellType": "string",
                  "comment": "",
                  "fontSize": 0,
                  "fontItalic": false,
                  "alignment": "left",
                  "class": "text",
                  "height": 25
               },
               {
                  "tooltip": "Externe bron met verwante informatie over het bedrijfsobject",
                  "foreground": "128,128,0",
                  "excelDefault": "blank",
                  "fontName": "Arial",
                  "background": "225, 225, 225",
                  "fontBold": false,
                  "name": "",
                  "x": 10,
                  "width": 120,
                  "y": 530,
                  "excelCellType": "string",
                  "comment": "",
                  "fontSize": 0,
                  "fontItalic": false,
                  "text": "Externe bron",
                  "alignment": "left",
                  "class": "label",
                  "height": 50
               },
               {
                  "whenEmpty": "delete",
                  "regexp": ".*",
                  "editable": true,
                  "tooltip": "Aanduiding van de externe bron. \r\r Bijvoorbeeld: een wet, NORA, ROSA, basisregisters. ",
                  "forceDefault": false,
                  "foreground": "0, 0, 0",
                  "excelDefault": "blank",
                  "default": "",
                  "fontName": "Arial",
                  "background": "225, 225, 225",
                  "fontBold": false,
                  "name": "",
                  "variable": "${property:extern_titel}",
                  "x": 130,
                  "width": 300,
                  "y": 530,
                  "excelCellType": "string",
                  "comment": "",
                  "fontSize": 0,
                  "fontItalic": false,
                  "alignment": "left",
                  "class": "text",
                  "height": 50
               },
               {
                  "foreground": "128,128,0",
                  "excelDefault": "blank",
                  "fontName": "Arial",
                  "background": "225, 225, 225",
                  "fontBold": false,
                  "name": "",
                  "x": 450,
                  "width": 30,
                  "y": 530,
                  "excelCellType": "string",
                  "comment": "",
                  "fontSize": 0,
                  "fontItalic": false,
                  "text": "URI",
                  "alignment": "left",
                  "class": "label",
                  "height": 50
               },
               {
                  "whenEmpty": "delete",
                  "regexp": "^(http|https)://.*",
                  "editable": true,
                  "tooltip": "Surfbare Uniform Resource Identifier van de externe bron. \r\rVoorbeeld: http://example.com",
                  "forceDefault": false,
                  "foreground": "0, 0, 0",
                  "excelDefault": "blank",
                  "default": "",
                  "fontName": "Arial",
                  "background": "225, 225, 225",
                  "fontBold": false,
                  "name": "",
                  "variable": "${property:extern_uri}",
                  "x": 500,
                  "width": 650,
                  "y": 530,
                  "excelCellType": "string",
                  "comment": "",
                  "fontSize": 0,
                  "fontItalic": false,
                  "alignment": "left",
                  "class": "text",
                  "height": 50
               },
               {
                  "tooltip": "Een semantisch term die het bedrijfsobject typeert (dropdown)",
                  "foreground": "128,128,0",
                  "excelDefault": "blank",
                  "fontName": "Arial",
                  "background": "225, 225, 225",
                  "fontBold": false,
                  "name": "",
                  "x": 10,
                  "width": 120,
                  "y": 600,
                  "excelCellType": "string",
                  "comment": "",
                  "fontSize": 0,
                  "fontItalic": false,
                  "text": "Kernobject",
                  "alignment": "left",
                  "class": "label",
                  "height": 20
               },
               {
                  "whenEmpty": "ignore",
                  "editable": true,
                  "values": [
                     "Actor",
                     "Gebeurtenis",
                     "Product",
					 "Afspraak",
					 "Middel",
					 "Eigenschap",
					 "Onbepaald"
                  ],
                  "tooltip": "Kies uit de vijf opties die het beste past. \r\r Of kies onbepaald als dat ondoenlijk is.",
				  "forceDefault": false,
                  "foreground": "0, 0, 0",
                  "excelDefault": "blank",
                  "default": "Onbepaald",
                  "fontName": "Arial",
                  "background": "225, 225, 225",
                  "name": "",
                  "variable": "${property:kernobject}",
                  "x": 130,
                  "width": 400,
                  "y": 600,
                  "excelCellType": "string",
                  "comment": "",
                  "class": "combo",
                  "height": 20
               },
               {
                  "tooltip": "De AVG-categorie van het bedrijfsobject.",
                  "foreground": "128,128,0",
                  "excelDefault": "blank",
                  "fontName": "Arial",
                  "background": "225, 225, 225",
                  "fontBold": false,
                  "name": "",
                  "x": 10,
                  "width": 120,
                  "y": 650,
                  "excelCellType": "string",
                  "comment": "",
                  "fontSize": 0,
                  "fontItalic": false,
                  "text": "AVG-categorie",
                  "alignment": "left",
                  "class": "label",
                  "height": 20
               },
               {
                  "whenEmpty": "ignore",
                  "editable": true,
                  "values": [
                     "Persoonsgegeven",
                     "Bijzonder of strafrechtelijk persoonsgegeven",
                     "Niet-persoonsgegeven",
					 "Onbepaald"
                  ],
                  "tooltip": "De eerste indicatie van AVG-categorie.\r\r Kies uit een van de drie opties of onbepaald.",
                  "forceDefault": false,
                  "foreground": "0, 0, 0",
                  "excelDefault": "blank",
                  "default": "Onbepaald",
                  "fontName": "Arial",
                  "background": "225, 225, 225",
                  "name": "",
                  "variable": "${property:avg-categorie}",
                  "x": 130,
                  "width": 400,
                  "y": 650,
                  "excelCellType": "string",
                  "comment": "",
                  "class": "combo",
                  "height": 20
               },
               {
                  "tooltip": "De grondslag voor verwerking persoonsgegevens",
                  "foreground": "128,128,0",
                  "excelDefault": "blank",
                  "fontName": "Arial",
                  "background": "225, 225, 225",
                  "fontBold": false,
                  "name": "",
                  "x": 10,
                  "width": 120,
                  "y": 700,
                  "excelCellType": "string",
                  "comment": "",
                  "fontSize": 0,
                  "fontItalic": false,
                  "text": "Grondslag",
                  "alignment": "left",
                  "class": "label",
                  "height": 20
               },
               {
                  "whenEmpty": "ignore",
                  "editable": true,
                  "values": [
                     "Toestemming van de betrokkene",
                     "Uitvoeren van een overeenkomst",
                     "Wettelijke verplichting",
                     "Vitaal belang van de betrokkene",           
					 "Uitvoeren taak van algemeen belang",            
					 "Gerechtvaardig belang van de organisatie",
					 "Onbepaald"
                  ],
                  "tooltip": "De grondslag voor verwerking persoonsgegevens.\r\rKies uit een van de opties uit AVG art.6 lid 1",
                  "forceDefault": false,
                  "foreground": "0, 0, 0",
                  "excelDefault": "blank",
                  "default": "Onbepaald",
                  "fontName": "Arial",
                  "background": "225, 225, 225",
                  "name": "",
                  "variable": "${property:grondslag}",
                  "x": 130,
                  "width": 400,
                  "y": 700,
                  "excelCellType": "string",
                  "comment": "",
                  "class": "combo",
                  "height": 20
               },
               {
                  "tooltip": "Aanduiding.. ",
                  "forceDefault": false,
                  "foreground": "0, 0, 0",
                  "excelDefault": "blank",
                  "fontName": "Arial",
                  "background": "225, 225, 225",
                  "fontBold": false,
                  "name": "",
                  "text": "${username}",
                  "x": 130,
                  "width": 600,
                  "y": 750,
                  "excelCellType": "string",
                  "comment": "",
                  "fontSize": 6,
                  "fontItalic": false,
                  "alignment": "left",
                  "class": "label",
                  "height": 50
               }
			   
			   
            ],
            "background": "225, 225, 225",
            "name": "Parameters",
            "comment": "Standaard metadatakenmerken van een BusinessObject.",
            "foreground": "0,0,0"
         },
         {
             "controls": [],
             "background": "200, 200, 200",
             "name": "Benaderd door",
             "comment": "Processen of functies die BusinessObject benaderen.",
             "foreground": "0,0,0"
         }
      ],
      "filter": {
         "tests": [
            {
               "attribute": "${class}",
               "operation": "iequals",
               "value": "BusinessObject"
            }
         ],
         "genre": "AND"
      },
      "buttonCancelWidth": 90,
      "spacing": 4,
      "buttonCancel": "Cancel",
      "refers": "selected",
      "buttonOkWidth": 90,
      "background": "250, 250, 250",
      "name": "Metadata voor ${class} \"${name}\"",
      "width": 1255,
      "buttonExportWidth": 120,
      "comment": "",
      "buttonOk": "Ok",
      "variableSeparator": ":",
      "height": 900
   },
   "version": 4
}